.register{
    height: calc(100vh-50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:linear-gradient(rgb(255,255,255,0.5),rgba(255,255,255,0.5)),url("https://images.pexels.com/photos/5709059/pexels-photo-5709059.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
    background-size: cover;
    align-items: center;
}
.registerTitle{
    font-size: 50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label{
    margin: 10px;
}
.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}
.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightpink;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.registerRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    
}